<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">

    <a href="../landing/index.html">
      <div id="logo">
        <img src="../imgs/icons/vai.svg">
        <img src="../imgs/icons/video-artificial-intelligence.svg">
        <!-- <div> -->
          <!-- <span><h5>VAI</h5>&</span> -->
          <!-- <h5>Video Artificial Intelligence</h5> -->
        <!-- </div> -->
      </div>
    </a>

    <nav>
      <dl>
          <hr>

          <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Introduction to V.ai</dt>
          <dd>
              <a href="/introduction/index.html">Introduction to V.ai</a>
          </dd>

          <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Prototype</dt>
          <dd>
              <a href="//brandedcontent.nbcuxlab.com/player-prototype-a/index.html" target="_blank">Prototype</a>
          </dd>

          <hr>

          <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">History of Branded Content</dt>
          <dd>
              <a href="/history/index.html">History of Branded Content</a>
          </dd>

          <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Current Landscape</dt>
          <dd>
              <a href="/current-landscape/index.html">Current Landscape</a>
          </dd>

          <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Anatomy of V.ai</dt>
          <dd>
              <a href="/anatomy/index.html">Anatomy of V.ai</a>
          </dd>

           <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">User Journeys</dt>
          <dd>
              <a href="/user-journeys/index.html">User Journeys</a>
          </dd>
      </dl>
    </nav>

    <a target="_blank" href="//portfolio.nbcuxlab.com">
      <div id="logo" class="logo--bottom">
        <img src="../imgs/icons/nbcuxlab.svg" alt="NBC UX Lab" style="height:32px;">
        <span>NBCUX LAB</span>
      </div>
    </a>

  </div>

</div>

</div>
</div>